* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Montserrat;
  background: #e5e5e5;  /*#1B0360 ||| #e5e5e5*/
  margin: 0 auto;

}
.header {
  background: linear-gradient(to right, #BC2E2A 0%, #3D0200 100%); /*background: linear-gradient(to right, #7601fd 0%, #c800d8 100%); ||| #76A9EA*/
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  color: #fff;
  text-decoration: none;
  line-height: 1.5em;
}
.header-logo-image{
  height: 20px;
  margin-bottom: -4px;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}

/*----------------------------
           SEARCH
-----------------------------*/
.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.search-input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
}
.search-button {
  height: 100%;
  width: 20%;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}


/*-----------------------------------------------
                    MAIN
------------------------------------------------*/

.content {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.music {
  width: 67%;
}

.music-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
/*----------------------------
           PLAYLIST
-----------------------------*/

.playlist {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.playlist-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 0;
}

.play-wrapper{
display: flex;
}

.playlist-text {
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.musiccard{
  margin:10px 15px 10px 0;
  padding: 10px;
}
.musiccard img{
border-radius: 5px;
width:200px;
}

.playlist .description {
  margin-bottom: 22px;
}
.playlist .name{
margin-top: 2px;
}
.playlist .autor{
color: #000;
margin-bottom:3px;
font-size:12px;
font-weight: bold;
}
.tag {
  color: #bfbfbf;
  font-size: 13px;
  line-height: 22px;
  margin-right: 6px;
  text-decoration: none;
}


/*----------------------------
           MUSICLIST
-----------------------------*/

.muziclist {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}

.muziclist-body {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 20px;
}

.sale-wrapper{
display: flex;
}


.card{
  margin:10px 15px 10px 0;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.card img{
border-radius: 5px;
width:100%;
}

.card .name{
  color: #000;
  font-size: 20px;
  line-height: 22px;
  display: block;
  width: 50%; 
  text-decoration: none;
}

.btn{
font-family: sans-serif;
border-radius:5px;
padding: 5px 10px;
margin-left: 70%;
color: #fff;
font-size:13px;
text-decoration: none;
background: #BC2E2A;
transition: all 0.3s ease;
}
.btn:hover{
color: #fff;
background: #008000;
}


.cost{
  color: #000;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  font-weight: bold;
}


.boulean{
  padding-top: 5px;
  color: #808080;
  font-size: 9px;
  line-height: 10px;
  text-decoration: none;
  font-weight: bold;
}

/*-----------------------------------------------
                  SIDEBAR
------------------------------------------------*/



.sidebar {
  width: 31%;
}
.events{
 background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
   
}

.events .event {
  padding:8px 0;
  margin-bottom: 5px;
  clear: both;
}

.week{
color: #808080;
font-size:12px;
}

hr{
  border: none; 
  color: #d9d9d9;
  background-color: #d9d9d9; 
  height: 1px;
}

.time{
color: #fa8c16;
font-size:14px;
padding: 15px 0;
font-weight: bold;
}
.events img{
border-radius: 60%;
width:60px;
margin-right: 10px;
float: left;
}
.events .name{
margin-top: 10px;
font-size: 14px;
}
.events .location{
color: #808080;
margin-bottom:3px;
font-size:11px;
}



/*----------------------------
           MARKETING
-----------------------------*/

.ad {
  display: block;
  background-color: #fff;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}
.ad::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}


@media (max-width: 990px) {
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .content {
    margin-top: 94px;
    margin-bottom: 60px;
  }
  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 30px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
  }
  .music {
    width: 100%;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    width: 90%;
    margin: auto;
  }
}
