  {% for keykey, value in pairs(items) do %}

  <h2 class="music-title">Pop & Best & Popular</h2>

          <div class="play-wrapper">

            <div class="musiccard">
              <img src="img/gift2.jpg">
              <div class="description">
            <p class="name">Christmas Box</p>
            <p class="autor">{{value["dollar1"]}}$</p>
            <a href="#" class="tag">#{{value["tag1"]}}</a>
            <a href="#" class="tag">#{{value["tag2"]}}</a>
             </div>
          <!-- /.description -->
            </div>

            <div class="musiccard">
              <img src="img/gift8.jpg">
                <div class="description">
            <p class="name">Christmas Sweet Box</p>
            <p class="autor">{{value["dollar2"]}}$</p>
            <a href="#" class="tag">#{{value["tag3"]}}</a>
            <a href="#" class="tag">#{{value["tag4"]}}</a>
          </div>
          <!-- /.description -->
            </div>

            <div class="musiccard">
              <img src="img/gift7.jpg">
              <div class="description">
             <p class="name">Christmas soap</p>
            <p class="autor">{{value["dollar3"]}}$</p>
            <a href="#" class="tag">#{{value["tag5"]}}</a>
            <a href="#" class="tag">#{{value["tag6"]}}</a>
          </div>
          <!-- /.description -->
           </div>
           
        </div>
        <!-- /.play-wrapper -->

        {% end %}


