{% for keykey, value in pairs(items) do %}
<h2 class="music-title">All Products</h2>

<div class="sale-wrapper">

<div class="card">
      <a href="#"><img src="img/gift1.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas Handmade</a> 
      <p class="cost">{{value["dollar1"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status2"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status1"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status2"]}}</p>
        <a class="btn" href="#">order</a>
    </div>


    <div class="card">
      <a href="#"><img src="img/gift2.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas Box</a> 
      <p class="cost">{{value["dollar1"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status2"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status3"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status1"]}}</p>
        <a class="btn" href="#">order</a>
    </div>

    <div class="card">
      <a href="#"><img src="img/gift3.jpg" alt="Gift"></a>
      <a class="name" href="#">Garland</a> 
      <p class="cost">{{value["dollar3"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status1"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status2"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status3"]}}</p>
        <br>
        <a class="btn" href="#">order</a>
    </div>
</div>
<!--/<div class="sale-wrapper"-->

  <div class="sale-wrapper">

<div class="card">
      <a href="#"><img src="img/gift4.jpg" alt="Gift"></a>
      <a class="name" href="#">Soft Christmas Toys</a> 
      <p class="cost">{{value["dollar4"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status3"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status2"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status1"]}}</p>
        <a class="btn" href="#">order</a>
    </div>


    <div class="card">
      <a href="#"><img src="img/gift5.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas Collection</a> 
      <p class="cost">{{value["dollar5"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status3"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status1"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status2"]}}</p>
        <br>
        <a class="btn" href="#">order</a>
    </div>

    <div class="card">
      <a href="#"><img src="img/gift6.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas balls</a> 
      <p class="cost">{{value["dollar6"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status2"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status1"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status3"]}}</p>
        <br>
          <a class="btn" href="#">order</a>
    </div>
</div>
<!--/<div class="sale-wrapper"-->

 <div class="sale-wrapper">

    <div class="card">
      <a href="#"><img src="img/gift7.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas soap</a> 
      <p class="cost">{{value["dollar7"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa: {{value["status2"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26: {{value["status3"]}}</p>
        <p class="boulean">st. Bedy, 13: {{value["status3"]}}</p>
        <br>
        <a class="btn" href="#">order</a>
    </div>


    <div class="card">
      <a href="#"><img src="img/gift8.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas Sweet Box</a> 
      <p class="cost">{{value["dollar8"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa:{{value["status1"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26:{{value["status2"]}}</p>
        <p class="boulean">st. Bedy, 13:{{value["status3"]}}</p>
        <a class="btn" href="#">order</a>
    </div>

    <div class="card">
      <a href="#"><img src="img/gift9.jpg" alt="Gift"></a>
      <a class="name" href="#">Christmas Gingerbread</a> 
      <p class="cost">{{value["dollar9"]}}$</p>
      <hr>
      <p class="boulean"> st.Yakyba Kolasa:{{value["status2"]}}</p>
      <p class="boulean">st. Bogdanovicha, 26:{{value["status1"]}}</p>
        <p class="boulean">st. Bedy, 13:{{value["status3"]}}</p>
        <br>
        <a class="btn" href="#">order</a>
    </div>

    </div>
<!--/<div class="sale-wrapper"-->
    {% end %}